@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background: #FAFBFF;
    width: 1440px;
    height: 1198px;
    display: flex;
}

.aside__block {
    width: 306px;
    height: 1198px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
}

.logo__container {
    display: flex;
    gap: 4px;
    padding-top: 36px;
    padding-left: 28px;
}

.version {
    padding-bottom: 6px;
    padding-top: 18px;
    color: #838383;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
}

[class*="-menu"] {
    display: flex;
    align-items: center;
    width: 231px;
    height: 24px;
    margin-top: 40px;
    color: #9197B3;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

/*Перший блок в меню*/
.dashboard-menu {
    width: 116px;
    height: 24px;
    gap: 14px;
    margin-left: 39px;
    margin-top: 64px;
}

/* Другий блок в меню*/
.product-menu {
    margin-left: 39px;
    gap: 123px;
    margin-bottom: 30px;
}

.product {
    display: flex;
    align-items: center;
    width: 116px;
    height: 24px;
    gap: 14px;
}

/*Третій блок в меню*/
.background {
    width: 250px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #5932EA;
    margin-top: 29px;
    margin-left: 28px;
}

.customers-menu {
    gap: 100px;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 8px;
}

.customers {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

/*Четвертий блок*/
.income-menu {

    gap: 124px;
}

.income {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 39px;
}

/*П'ятий блок*/
.promote-menu {

    gap: 117px;
}

.promote {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 39px;
}

/*Шостий блок*/
.help-menu {

    gap: 145px;
}

.help {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 39px;
}

/*Блок з автором*/
.author {
    padding-top: 597px;
    padding-bottom: 76px;
    padding-left: 28px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 155px;
    height: 42px;
    flex-shrink: 0;
}

.evano {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
}

.project-manager {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

main {
    width: 1134px;
    display: flex;
    flex-direction: column;
    background: #FAFBFF;
}

/*Блок з привітанням*/
.greeting {
    width: 200px;
    /*Тут по макету має бути 176px, але не влізає текст чомусь :(*/
    height: 36px;
    padding-top: 41px;
    padding-left: 71px;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section {
    width: 968px;
    height: 812px;
    flex-shrink: 0;
    background-color: #FFF;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
    margin-left: 71px;
    margin-top: 81px;
    display: flex;
}

.all-cutomers {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.22px;
    padding-top: 30px;
    padding-left: 38px;
}

.active-members {
    color: #16C098;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
    padding-top: 7px;
    padding-left: 38px;
}

header {
    display: flex;
}

.search-box {
    width: 216px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F9FBFF;
    margin-left: 506px;
    margin-top: 44px;
    display: flex;
    gap: 8px;
}

.search-img {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    width: 24px;
    height: 24px;
}

.search-txt {
    border: none;
    text-decoration: none;
    background: none;
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
    width: 42px;
    height: 18px;
    margin-top: 10px;
}